.nav-link {
    color: rgba(0,0,0,1) !important;
}
.navbar-nav  {
    color: black !important;
}
.navbar-nav .nav-link:hover  {
    color: rgb(0,0,0, 0.35) !important;
}
a {
    text-decoration:none;
}
a:hover { color: rgb(0,0,0, 0.35) !important;}
.btn {
    margin-left: 10px;
}
.btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.dropdown-toggle:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.dropdown-toggle:hover {
     color: rgb(0,0,0, 0.35) !important;
}
body {
    font-family: 'Onest', sans-serif !important;
    margin: 0%;
    overflow-x: hidden;
}
canvas{
    position: absolute;
    z-index: -1;
    transform-origin: 0 0;
}

div{
    z-index: 1;
}

#blogtitle {
    font-size: 5rem;
}
#topNav{
    background-color: white !important;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
    #main-photo{
        width: 85%;
    }
}